:root {
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-slate:#ccd6f6;
  --green-bright:#64ffda;
  --slate: #8892b0;
}

/* :root {
  --navy: #494f64;
  --light-navy: #FA4754;
  --lightest-slate:#FFFFFF;
  --green-bright:#FA4754;
  --slate: ##FFFFFF;
} */